:root { 
--red_700:#be4741; 
--blue_gray_50:#edeff4; 
--red_600:#d0483b; 
--pink_900:#733232; 
--red_800:#af4647; 
--green_A700_01:#25d837; 
--red_500:#fa3e49; 
--gray_800_01:#444444; 
--gray_50:#fcf8f8; 
--green_A700:#12dd1a; 
--black_900:#000000; 
--light_green_600:#7ca548; 
--light_green_800:#6a7332; 
--red_700_01:#d82525; 
--blue_gray_900_01:#333333; 
--deep_orange_500:#ff4b2b; 
--indigo_800_01:#323f73; 
--blue_gray_900:#313043; 
--purple_800:#723273; 
--gray_500_07:#aaaaaa07; 
--light_green_800_01:#717a3c; 
--deep_orange_500_01:#fb6815; 
--gray_700:#666666; 
--gray_400:#b7bac2; 
--blue_gray_100:#cccccc; 
--blue_gray_300:#94aeba; 
--gray_800:#3c3c3c; 
--orange_A700:#fa6714; 
--gray_900:#222222; 
--light_green_600_01:#7ba448; 
--gray_200:#ebebeb; 
--blue_gray_300_01:#98adbc; 
--gray_100:#f4f7f9; 
--blue_gray_300_02:#96a5bd; 
--white_A700_01:#fdfeff; 
--white_A700:#ffffff; 
--indigo_800:#323e73; 
}